services:
  redis:
    image: redis:7-alpine
    container_name: modbus_redis
    ports:
      - "6380:6379"
    restart: unless-stopped
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: modbus_backend
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - ./.env:/app/.env
    depends_on:
      - redis
    restart: unless-stopped

  frontend:
    image: nginx:alpine
    container_name: modbus_frontend
    ports:
      - "8081:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  redis_data:

